/*etiquetas  <.. orden alfabetico
identificadores 
clases 
pseudoelementos
CARACTERISTICAS PRINCIPALES
MODELO DE CAJAS Y SON RELATIVOS A LA CAJA QUE LO CONTIENEN
*/

body {
	/*atributos:valor;*/
	background: rgb(255,255,255);
	/*color: #000021;*/
	color:#000000;
	max-width: 1024px;
	margin: 0 auto; 
	/*0 no se va a mover ni arriba ni 
	abajo y el auto todo lo que tenga en la 
	pagina la voy a dividir en lo que quede vacio centra el contenido*/
	/*todo en la web es una caja, el margin determina alineaciones verticales
	y horizontal, puede ser negativo o positivo */
}
body header{

	background: blue;	/*fondo*/
	border: 1px solid black; /*alrededor*/
	border-radius: 3px; 	/*esquinas*/
	color: white;		/*letra*/
	box-shadow: 5px 5px 20px purple;
}
header h1{
	text-align: center;
	text-shadow: 5px 5px 10px green; /*sombra*/
	font-family: 'Pacifico', cursive;

}
header nav ul li{
	/*border:1px solid yellow;*/
	background: white;
	border-radius: 5px;
	color: black;
	display: inline-block;
	margin: 0px 40px ;	
	padding: 10px;
	box-shadow: -5px -5px 20px black;/*box-shadow: derecha abajo color; <-- determina una caja y cuanta sombra habá*/
	font-family: 'Roboto Mono', ;
}
header img{
	float: right;
	margin-right:5px;
	margin-top: 5px;
	width: 80px;
}
header nav ul li:hover{ /*cuando al li le pnga el mouse encima*/
	background: black;
	color: white;
	

}
/*Aquí van los IDs*/
#seccion1 {
border:10px solid red;
}

#seccion1 article{
border:10px solid black;
display: inline-block;
vertical-align: top;
width: 31.07%;
font-family: 'Handlee', cursive;

}

