body{
	border:1px solid blue;
	font-size: 16px; /*1em*/
	margin: 0 auto;
	max-width: 1024px;
}
header{
	background: #B3D8EB;
}
header nav{
	background: #0E6CB0;
	border-radius: 5px;
	padding: 1px 0px 2px 0px;
	margin: 0 auto;
	width: 99%;
	/*puede darle margin a los li o padding al nav no afecta nada*/
}
header nav ul li {
	display: inline-block;
	margin-right: 20px;
	color:white;
}

form{
	float: right;
	margin-top: -40px;
	margin-right: 20px;
}	
form input{
	border-radius: 5px;
}

form input[type="button"]{
	background: green;
	color: white;
}
.boton{
	display: block; /*sino no agarra el text align */
	text-align: center;
}
.boton input{
	color: blue;
}

#logo
{
	margin-top: -200px;
}
#seccion01 article{
	text-align: center;
}
#seccion01 article img{
	border: 5px solid rgba(150,150,150,0.3);
	margin-top: 15px;
	width: 98%;
}
#seccion02{
	margin: 0 auto;
}
#seccion02	article{
	border:1px solid black;
	display: inline-block;
	width: 32.87%;
	vertical-align: top;
}
.otraSeccion,.unaSeccion{
	font-weight: bold;
}
.otraSeccion{
	font-size: 2.5em;
}
.unaSeccion{
	font-size: 4.5em;
}
